[Unit]
Description=Run Tigo Ingest Health Check every 10 minutes

[Timer]
OnBootSec=2min
OnUnitActiveSec=10min
Unit=tigo-ingest-healthcheck.service
Persistent=true

[Install]
WantedBy=timers.target

